<style>
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color:white;
   text-align: center;
   background-color:darkmagenta;
   
   padding: 0% 10% 0% 10%;
1

}
img{
width:100%;
border-radius: 30px;
}
   /* video{
    width: 100%;
    padding: 0%;
   }
   p{
    max-width: 50%;
   }
   a{
    font-size: larger;
    text-decoration: none;
    color: brown;
    text-align: center;
   } */
   h3
   {
 font-family: 'Times New Roman', Times, serif;
    color:black;
    font-size:40px;
   
    
   }
   p{
    font-size: medium;
    font-family: Georgia;
    color:black;
    margin: 20px;
    padding:3px;
   
    
   }
   marquee
   {
    background-color: darkorchid;
    color:white;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
   
   }
   a{
    text-decoration: solid;
   }
   .main{
    background-color:lightgrey;
    border-radius: 10px;
   }
   li a {
    display: block;
    color: white;
    text-align: center;
    font-size: larger;
    padding: 40px;
    text-decoration: none;
  }
  div.image{
    display: block;
    float: left;
    margin: 5px;
    padding: 10px;
  }
 
  
  ul {
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0 10px 0 10px;
    overflow: hidden;
    background-color:darkmagenta;
  }
  
  li {
    float: left;
  }
  
    
  li a:hover {
    background-color: black;
    color: white;}  
    a:hover{
      color: red;
    }
    h4{
      background-color: lightgoldenrodyellow;
      font-size: larger;
    }
    </style>